body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
}

#game {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #ff6347;
}

#pokeball {
    font-size: 50px;
    cursor: pointer;
    margin: 20px 0;
}

#pokemon-container {
    display: none;
    margin-top: 20px;
}

#start {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start:hover {
    background-color: #e5533e;
}

